form {
    display: flex;
    justify-content: space-between;
}

.searchBox {
    background-color: var(--white-color);
    overflow: hidden;
    width: calc(100% - 75px);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    align-items: center;
    justify-content: space-between;
}

.searchInput {
    width: calc(100% - 50px);
    font-size: 20px;
    padding: 1% 30px;
    border: none;
    outline: none;
}

.btnSearch {
    height: 100%;
    width: 50px;
    font-size: 25px;
    background-color: var(--tropical-indigo-color);
    border: none;
    color: var(--white-color);
    transition: all .4s ease;
}

.btnFilters {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    width: 50px;
    padding: 0.75%;
    font-size: 25px;
    background-image: var(--orange-color);
    border: none;
    color: var(--white-color);
    transition: all .4s ease;
}

.btnFilters:hover {
    background-image: var(--orange-hover-color);
}

.filtersBox {
    margin-top: 10px;
    padding: 1%;
    background-color: var(--timberwolf-color);
    border-radius: 10px;
}

.filtersBox .btnClose {}