:root {
  --tropical-indigo-color: linear-gradient(135deg, rgb(92, 56, 253) 40%, #9381FF);
  --hover-color: linear-gradient(135deg, rgb(70, 29, 253) 40%, #9381FF);
  --snow-color: #FFFBFE;
  --white-color: #ffffff;
  --timberwolf-color: #D0CFCF;
  --davygrey-color: #565254;
  --orange-color: linear-gradient(135deg, #D68910 40%, #F5B041);
  --orange-hover-color: linear-gradient(135deg, #B9770E 40%, #F5B041);
}

@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100;200;300;400;500;600;700;800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Playpen Sans', cursive;
}

body {
  width: 100vw;
  height: 100vh;
  padding-top: 50px;
}

a {
  text-decoration: none;
}