.navbar {
    background-color: var(--tropical-indigo-color);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.navbar .navbar-brand{
    margin-left: 9.5%;
    margin-right: 4%;
}

.navbar-brand-img{
    margin-right: 7.5px;
}

.navbar .navbar-brand, .nav-item .nav-link{   
    color: var(--white-color);
    transition: all .4s ease;
}

.navbar .navbar-brand:hover{
    color: var(--timberwolf-color);
}

.nav-item .nav-link:hover, .nav-item.active .nav-link{
    color: var(--white-color);
}

#navbarSupportedContent.show{
    margin-top: 10px;
}