.navbar {
    background-image: var(--tropical-indigo-color);
}

.navbar .navbar-brand, .nav-item .nav-link{
    color: var(--white-color);
    transition: all .4s ease;
}

.navbar .navbar-brand:hover, .nav-item .nav-link:hover {
    color: var(--timberwolf-color);
}