.mainBox{
  position: relative;
}

.sectionBox {
  background-color: var(--davygrey-color);
  padding: 2% 7.5%;
  align-items: center;
  justify-content: center;
}

.gridTitle{
  width: 100%;
  padding: 1%;
  font-size: 25px;
}

.sliderBox{
  width: 100%;
  padding: 2% 6%;
}

.sliderTitle{
  font-size: 24px;
  text-decoration: none;
  color: #5c38fd;
}

.sliderTitle:hover{
  color:  rgb(70, 29, 253);
}

.sliderTitle i{
  font-size: 30px;
  margin-left: 10px;
}

.sliderTitle:hover i{
  animation: arrowMoving .5s linear infinite;
}

@keyframes arrowMoving{
  0% {
    margin-left: 5px;
  }

  50% {
    margin-left: 30px;
  }
  100% {
    margin-left: 5px;
  }
}