.sectionBox {
  background-color: #fff;
  padding: 2% 10%;
  align-items: center;
  justify-content: center;
}

.moviesBox{
  background-color: #fff;
}

.gridTitle{
  color: var( --tropical-indigo-color);
  width: 100%;
  padding: 1% 10%;
  font-size: 25px;
}

.sliderBox{ 
  padding: 1% 10%;
}

.sliderTitleBox{
 margin-bottom: 5px;
}

.sliderTitle{
  color: var( --tropical-indigo-color);
  font-size: 24px;
  text-decoration: none;
}

.sliderTitle:hover{
  color:  rgb(70, 29, 253);
}

.sliderTitle i{
  margin-top: 2px;
  margin-left: 10px;
}

.sliderTitle:hover i{
  animation: arrowMoving .5s linear infinite;
}

@keyframes arrowMoving{
  0% {
    margin-left: 5px;
  }

  50% {
    margin-left: 30px;
  }
  100% {
    margin-left: 5px;
  }
}